@import "../../../sass/variables";
@import "../../../sass/mixins";
@import "../../../sass/vg_typography";
@import "../../../sass/bootstrap_config.scss";

@keyframes slideLeft {
    from {
        right: -250px;
    }

    to {
        right: 0;
    }
}

.header {
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, .15);
    position: fixed;
    top: 0;
    width: 100%;
    height: 78px;
    background-color: $white;
    z-index: 100;

    .main-container {
        display: flex;
        box-sizing: border-box;
        padding: 0 20px;
        width: 100%;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        background: $white!important;
        max-width: 1440px;
        margin: auto;
        position: relative;
        color: $black !important;
        z-index: 999;
        height: 100%;

        .logo-wrapper {
            width: 55px;
            // border: 3px solid $theme-color;
            padding: 12px;
            border-radius: 50%;

            .logo {
                border-radius: 50%;
                box-shadow: 5px 0px 0px 0px $theme-color;
                font-size: 20px;
                width: 50px;
                color: $theme-color;
                display: inline-block;
                background-color: transparent;
                line-height: 30px;
            }
        }

        .nav-links-wrapper {
            right: 0;
            position: absolute;

            .nav-link-users {
                width: auto;
                white-space: nowrap;
                text-decoration: none;
                vertical-align: baseline;
                text-align: center;
                margin: 0;
                min-width: 64px;
                line-height: 19px;
                border-radius: 25px;
                overflow: visible;
                color: $primary-link-color;
                padding: 0 15px;
                font-weight: bold;

                &:hover {
                    font-size: 16px;
                    color: $theme-color;
                }
            }
        }

        .hamburger-menu {
            position: absolute;
            right: 30px;
            padding-left: 15px;
            z-index: 5;
            cursor: pointer;
            user-select: none;
            display: none;
            width: 20px;
            height: 40px;
            top: 28px;

            .menu-global {
                backface-visibility: hidden;
                position: absolute;
                left: 0;
                border-top: 4px solid $primary-link-color;
                border-radius: 2px;
                width: 100%;
                transition: 0.55s;

                &.menu-top {
                    top: 0;
                }
    
                &.menu-middle {
                    top: 10px;
                }
                
                &.menu-bottom {
                    top: 20px;
                }
            }

            .hamburger-nav-links {
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                position: fixed;
                z-index: 1;
                overflow: hidden;
                top: 78px;
                right: 0;

                .links-wrapper {
                    position: fixed;
                    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
                    transform: none;
                    visibility: visible;
                    height: calc(100% - 50px);
                    background-color: white;
                    right: 0;
                    top: 78px;
                    width: 250px;
                    padding-top: 25px;

                    animation-duration: 1s;
                    animation-name: slideLeft;
                    animation-iteration-count: linear;
                    animation-direction: alternate;

                    .nav-link-users {
                        width: 100%;
                        padding: 15px 35px;
                        color: $primary-link-color;
                        display: block;
                        font-weight: bold;
                        line-height: 19px;
                        white-space: nowrap;
                        text-decoration: none;
                    }
                }
            }

            &.active {
                .menu-global {
                    &.menu-top {
                        backface-visibility: hidden;
                        top: 15px;
                        transform: rotate(45deg);
                        transition: 0.55s 0.5s;
                        border-color: $theme-color;
                    }

                    &.menu-middle {
                        opacity: 0;
                    }
                    
                    &.menu-bottom {
                        backface-visibility: hidden;
                        top: 15px;
                        transform: rotate(-410deg);
                        transition: 0.55s 0.5s;
                        border-color: $theme-color;
                    }
                }                    
            }
        }

        @include media-breakpoint-between (xs, sm) {
            .nav-links-wrapper {
                display: none;
            }

            .hamburger-menu {
                display: block;
            }
        }
    }
}

@media print {
    .header {
        display: none;
    }
}