<div class="content-wrapper">
    <div class="about-me-wrapper">
        <h1 class="about-me bold">About <span>Me</span></h1>
        <h5 class="page-label">Allow me to introduce myself</h5>
        <div class="info-wrapper">
            <div class="image-wrapper">
                <span class="body-text-2">It's me</span>
                <img src="/assets/me.JPG" alt="me"/>
            </div>
            <div class="intro">
                <p class="body-text-1">I'm obsessed with making things and even more obsessed with making things better. After graduating from the McNeese State University, I've been actively involved in the web development for the last 5 years. I/ve designed and developed websites for small business, corporate multi-national companies, Retail/eCommerce websites and more.</p>
                <p class="body-text-1">My speciality is User-Interface design and develoment, making pixel magic and turing UX into beautiful, semantic HTML, CSS. My interests, however, ectend beyond the web and I love helping people with branding, print design and strategies to improve business. I even love making designs and move by creating professional data visualization graphical svg images</p>
            </div>
        </div>
    </div>
    <p class="body-text-1 speciality-info">When I'm not developing. I'm probably hanging out with my family, watching football, playing tennis or messing around on something inspired by great people.</p>
    <div class="frameworks-wrapper">
        <div class="images-wrapper">
            <h2>THINGS I LOVE</h2>
            <img *ngFor="let imgtitle of accomplishments" src="{{ '/assets/logos/' + imgtitle + '-logo.png' }}" [alt]="imgtitle" [title]="imgtitle" />
        </div>
        <div class="skills-wrapper">
            <h2>THINGS I CAN DO</h2>
            <ul>
                <li *ngFor="let skill of skills"><strong>&#43;</strong>{{ skill }}</li>
            </ul>
        </div>
    </div>
</div>