<div class="tile-view">
    <div class="university-wrapper">
        <img src="{{'/assets/logos/' + degreeInfo?.image + '-logo.png'}}" />
        <h2 class="bold">
            {{ degreeInfo?.university }}
        </h2>
    </div>
    <div class="degree-description">
        <ul>
            <li class="body-text-1">{{ degreeInfo?.degree }}</li>
            <li class="body-text-1">{{ 'Graduated with ' + degreeInfo?.score + ' GPA' }}</li>
        </ul>
        <img src="/assets/grad-1.JPG" *ngIf="degreeInfo?.degree === 'Masters in Computer Science'"/>
    </div>

    <div class="duration-location-info">
        <span class="degree-duration body-text-2">{{ degreeInfo?.duration + ' | ' + degreeInfo?.address }}</span>
    </div>
</div>