@import 'variables';
@import 'bootstrap_config';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $white;
  margin-top: 78px;
}

.menu-spacer {
  flex: 1 1 auto;
}

.staplesToolBar {
  background-color: $white;
  color: $theme-color;
  border-bottom: $grey solid 1px;
}
