$theme-color: #1e1e3f;
// $theme-color: #ee6557; good
// $theme-color: #042526;

// predefined colors
$primary-button-color: #cc0000;
$primary-link-color: #4d4d4f;
$disabled-color: #969697;
$footer-link: #444444;

// Staples Colors
$black: #000000;
$dark-grey: #4d4d4f;
$medium-grey: #969697;
$grey: #dddddd;
$light-grey: #f3f3f3;
$light-grey-opacity: #f3f3f399; // With opacity
$white: #ffffff;
$red: #cc0000;
$yellow: #cc8f19;
$green: #007f79;
$green-opacity: #aecdc7;

//$motivasans: motivasans;
$tt-norms: TT Norms;
